<div>
  <h2>About this project</h2>
  <p>This project it's been builded as a study of some technologies, like Angular, Terraform, Azure Devops and AWS.</p>

  <p>It consists in four items, all hosted in AWS:</p>
  <ol>
    <li>Lambda to read the favorite movies from a primary source</li>
    <li>Database to save the movies information</li>
    <li>Lambda to be a serverless api REST</li>
    <li>Angular front-end to build this page and consume the API</li>
    <li>All builded and released using terraform on Azure devops.</li>
  </ol>

  <p>Under construction 🚧</p>

  <p>Steps:</p>
  <ul class="about-steps">
    <li class="completed">Front-end page to show list of movies</li>
    <li class="completed">Pipeline scripts to deploy the front-end</li>
    <li class="">Lambda API to serve the list of movies</li>
  </ul>
</div>
